/*Custom styles for site*/
.container-full {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.content{
    width: 100% !important;
    margin-top: 5px !important;
    padding: 0 !important;
}